<!DOCTYPE html>
<html>
<head>
  <title>Form Example</title>
</head>
<body>
  <h1>Submit User Form</h1>
 <form action="/get-form-data" method="POST">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <input type="number" name="age" placeholder="Age" />
  <button type="submit">Submit</button>
</form>

  </form>
</body>
</html>
