<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>chatting aap</h1>
    <button onclick="connection()">refrese connection</button>

    <input type="text" placeholder="enter number" id="massage" />

    <button id="send">send</button>

    <div id="chat"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const sendbtn = document.getElementById("send");
      const massageInput = document.getElementById("massage");
      const chats = document.getElementById("chat");

      socket.on("massage", (massage) => {
        const ptag = document.createElement('p')
        ptag.innerText = massage
        chats.appendChild(ptag)

      });

      sendbtn.addEventListener("click", () => {
        const message = massageInput.value;
        massageInput.value = "";
        socket.emit("rohit-massage", message);
      });
    </script>
  </body>
</html>
