<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
</head>
<link rel="stylesheet" href="/index.css">
<body>
  <h1>✅ Data stored successfully in MongoDB!</h1>
  <a href="/">Go Back</a>
</body>
</html>
